/* Reset de estilos para garantir consistência em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #92D400;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

/* Estilos da navegação */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    border-bottom:20px;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav a.ativo {
    background-color: #679700; /* Cor de destaque */
    color: #fff; /* Cor do texto destacado */
    border-radius: 2px; /* Borda arredondada para destacar */
}

/* Add CSS styles here for better presentation */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Start from the left */
    padding-left: 20%; /* Create space for the filter bar */
    
}

.filter-bar {
    position: fixed;
    left: 0;
    top: 100px; /* Adjust this value as needed to position it below the navbar */
    width: 20%; /* Same as padding-left of .product-container */
    height: 65%; /* Calculate the height to fill the remaining space */
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.filter-bar h2 {
    margin-top: 0;
}

.filter-item {
    margin-bottom: 10px;
}

.product-card {
    width: calc(25% - 20px); /* Approximately 25% of the container width with margin */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.product-image img {
    width:150px;
    height:150px;
    display: block;
    margin: 0 auto;
}

.product-details {
    text-align: left;
    margin-top: 10px;
}

.product-details p {
    margin: 5px 0;
}

h3 {
    color: #e67e22;
    font-size: 20px;
}

/* Clearfix to ensure rows of 4 products */
.product-container::after {
    content: "";
    flex: auto;
}


h3 {
    color: #e67e22;
    font-size: 20px;
}


/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.botao-login {
    background-color: #007ACC;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.botao-login:hover {
    background-color: #00588e; /* Estilo de hover ao passar o mouse */
}

.botao-login-container {
    float: right; /* Alinha o botão de login à direita */
    padding-top: 10px;
}
